body {
    direction: rtl;
    font-family: Peyda;
}

.menu{
    display: flex;
    gap: 30px;
}
header{
    position: fixed;
    background-color: rgba( 250,250,250,.7);
    backdrop-filter:blur(5px);
    z-index: 10px;
}